{{> layout/header}}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Login</h1>
        </div>
    </div>

    <form id="login-form" action="/login" method="POST">
        <div class="row form-group">
            <label for="">email:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="row form-group">
            <label for="">Password:</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group submit-button">
            <button type="submit" name="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

</div>

{{> layout/footer}}