<!DOCTYPE html>
<html>
<head>
    <title>Quantox</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

<header>
    <div class="container">
        <div class="row">
            <div class="wrapper">
                {{#user}}
                <h1>hi {{firstname}}</h1>
                <a href="/logout">
                    <button class="btn btn-primary login">Logout</button>
                </a>
                {{/user}}
                {{^user}}
                <a href="/login">
                    <button class="btn btn-primary login">Login</button>
                </a>
                <a href="/register">
                    <button class="btn btn-primary register">register</button>
                </a>
                {{/user}}
            </div>
        </div>
        <form action="/" method="GET">
            <div class="form-group row">
                <div class="col-8 input">
                    <input name="search" type="search" class="form-control" id="search" placeholder="Search for a user">
                </div>
                <div class="col-2 input">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</header>
{{{ message }}}